*{
    box-sizing:border-box;

}
.wrapper{
    background-color:white;
    border:1px solid blue;
    padding:20px 20px 0 20px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    background-color:#99d2e3;
}
.title{
    text-align:center;
    font-size:1.5rem;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.nav{
    background-color:#435463;
    margin:0;
    font-size:1.2rem;
}
.nav .active{
    color:black;
}
.navAll{
    display:inline-block;
    width:19%;
    text-align:center;
}
header a{
    color:white;
}
header a:hover{
    color:black;
}
header a:active{
    color:red;
}
.afterbox{
    clear:left;
}
.foot{
    margin:40px 0 0 0;
    background-color:#b3b3ff;
}
.links{
        text-align:center;
}

.linkedin{
    background-image: url("linkedin.png");
    background-repeat: no-repeat;
    background-size: 40px 25px;
    background-position:center;
}
.github{
    background-image: url("github.png");
    background-repeat: no-repeat;
    background-size: 40px 25px;
    background-position:center;
}
.facebook{
   background-image: url("facebook2.png");
   background-repeat: no-repeat;
   background-size: 40px 25px;
   background-position:center; 
   margin:0 0 20px 0
}
footer a{
    color:blue;
}
footer a:active{
    color:red;
}
footer a:hover{
    color:black;
}
input:focus{
      background-color: yellow;
}
.copyright{
    text-align:center;
}
/*For other sites */

main .frame{
    border-radius:20px;
    margin:30px 20px;
    background-color:#d1d1e0;
}
main {
    text-align:right;
}
main span{
    margin:10px;
    font-size:1.6rem;
}
@media (min-width: 1500px){
    .box{
        float:left;
        margin:0px;
        width:8%;
        height:500px;
        border:5px solid red; 
         content: "";
          display: inline-block;
    }
    .pic1 img{
    width:400%;
    }
    .pic2 img{
        width:400%
    }
    .pic3 img{
        width:400%
    }
    .foot a{
    position:relative;
    left:52%
}
}
@media  (max-width: 1500px) {
    .box{
    float:left;
    margin:0px;
    width:15%;
    height:400px;
    border: 5px solid red; 
    overflow:visible;
    }
   .pic1 img{
    width:200%;
    }
    .pic2 img{
        width:200%
    }
    .pic3 img{
        width:200%
    }
    .hide2{
        display:none;
    }
    .foot a{
    position:relative;
    left:52%
}
}
    @media  (max-width: 1000px) {
    .box{
    float:left;
    margin:0px;
    width:33%;
    height:300px;
     border: 5px solid red;   
    }
   .navAll{
           display: block; 
            width:100%;
           font-size:1.3rem;
        }
    .pic1 img{
    width:100%;
    }
    .pic2 img{
        width:100%
    }
    .pic3 img{
        width:100%
    }
        .hide3{
            display:none;
        }
    .foot a{
    position:relative;
    left:55%
}
}
     @media  (max-width: 500px) {
    .box{
    float:left;
    margin:0px;
    width:50%;
    height:200px;
    border: 5px solid red;   
    }
    .navAll{
           display: block; 
            width:100%;
           font-size:1.3rem;
        }
         .pic1 img{
             width:100%;
         }
         .pic2 img{
             width:100%;
         }
         .pic3 img{
             width:100%;
         }
         .hide3{
           display:none;  
         }
      .foot a{
    position:relative;
    left:57%
}   
    
}
@media (max-width: 300px){
    .box{
        float:left;
        margin: 0px;
        width:100%;
        height:100px;
        border:5px solid red;
    }
.navAll{
           display: block; 
            width:100%;
           font-size:1.3rem;
        }
    .title{
        font-size:0.9rem;
    }
      .pic1 img{
             height:100%
         }
         .pic2 img{
             height:100%;
         }
         .pic3 img{
             height:100%;
         }
    .hide3{
       display:none; 
    }
    .foot a{
    position:relative;
    left:58%
}
}

